<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niccopark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Indicates that app requires ARCore ("AR Required"). Ensures the app is
     visible only in the Google Play Store on devices that support ARCore.
     For "AR Optional" apps remove this line. -->
    <uses-feature android:name="android.hardware.camera.ar" />
    <!-- Sceneform requires OpenGL ES 3.0 or later. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FaqActivity"
            android:label="@string/title_activity_faq"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activity.ParkTimingsActivity"
            android:label="@string/title_activity_park_timings"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".activity.PaymentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>
        <activity android:name=".activity.HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AttractionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity android:name=".activity.RidesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>
        <activity android:name=".activity.RidesDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niccopark.activity.HomeScreenActivity" />
        </activity>


    </application>

</manifest>